

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  background: #DEDEDE;
  cursor: default;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

svg {
  font-size: 3em;
  height: 1em;
}

ul, dl, dd, menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

figure, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input:not([type]), input[type="text"], input[type="number"], input[type="password"], textarea, select, x-input {
  padding: 0.3em;
  font-size: 100%;
  font-family: inherit;
  border-radius: 2px;
  border: 1px solid;
  border-color: rgba(0,0,0,0.3) rgba(0,0,0,0.2) rgba(0,0,0,0.15);
}

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
  font-style: italic;
  font-size: 85%
}

x-input {
  padding: 0;
}

button {
  font-size: inherit;
  font-weight: inherit;
}

button svg {
  display: block;
  width: 1.1em;
  margin: 0px auto;
}

.button, form button, form input[type="submit"] {
  padding: 0.2em 0.6em;
  background-color: #fff;
  background-image: -webkit-linear-gradient(rgba(255,255,255, 0), rgba(0,0,0, 0.1));
  background-image: -ms-linear-gradient(rgba(255,255,255, 0), rgba(0,0,0, 0.1));
  background-image: linear-gradient(rgba(255,255,255, 0), rgba(0,0,0, 0.1));
  border-radius: 4px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.125);
  font-size: 112%;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.button:active, form button:active, form input[type="submit"]:active {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

svg { pointer-events: none; }

/*x-modal > x-layout > section {
  -ms-flex: auto;
}*/

x-layout > section > x-action {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  height: 3.5em;
  width: 3.5em;
  cursor: pointer;
  z-index: 100;
}

.view-action-button {
  height: 100%;
  padding: 8% 16% 0;
  border-radius: 3.5em;
  background: #fff;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  x-layout > section > x-action svg {
    fill: #006D4E;
  }

/* LAYOUT */

x-tabbox > menu button {
  padding: 0.75em;
  color: #555;
  font-weight: bold;
  border-bottom: 1px solid #888;
  background: #eaeaea;
}

  x-tabbox[tab-position="bottom"] > menu button {
    border-bottom: none;
    border-top: 1px solid #888;
  }

x-tabbox > menu button[selected] {
  color: #FFF;
  background: #556B78;
  border-bottom: 1px solid #1A2D39;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

  x-tabbox[tab-position="bottom"] > menu button[selected] {
    border-bottom: none;
    border-top: 1px solid #1A2D39;
  }



x-spinner svg {
  stroke: #009369;
}

x-layout > x-spinner, x-spinner[diffuse] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

x-layout > x-spinner:not([spinning]) {
  z-index: -1;
}


/* APPBAR */

x-appbar > * {
  margin: 0.44em 0.44em 0.4em 0;
}

x-appbar > *:first-child {
    margin-left: 0.44em;
}

x-appbar > *:empty {
    margin: 0;
}

x-appbar svg {
  fill: #fff;
  font-size: 2em;
}

x-appbar h1:first-child {
  margin: 0;
  text-align: left;
  white-space: nowrap;
}

x-appbar h1 span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  cursor: pointer;
}

x-appbar h1 svg {
  width: 0.6em;
  font-size: 2.5em;
  vertical-align: middle;
}

x-appbar h1 strong {
  vertical-align: middle;
}

x-appbar > x-input {
  font-size: 1.23em
}

x-appbar button {
  margin: 0;
  padding: 0.44em 0.44em 0.4em 0;
  color: #fff;
  background: none;
  cursor: pointer;
}

x-appbar svg {
  fill: #fff;
}

x-appbar x-input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #006D4E;
}


/* MODAL */

x-modal {
  width: 90%;
  height: 90%;
  max-width: 600px;
  max-height: 500px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.6);
}

x-modal-overlay:before {
  height: 1em;
  padding: 0.1em;
}

x-modal x-appbar h2 {
  line-height: 2.5em;
}

x-modal x-appbar button {
  font-size: 1em;
}

/* X-GMAP */

x-gmap .x-gmap-custom-marker {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border-radius: 10em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

x-gmap .x-gmap-custom-marker img {
  display: block;
  width: 100%;
  height: auto;
}

@keyframes x-gmap-marker-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(6);
    transform: scale(6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(6);
    transform: scale(6);
    opacity: 0;
  }
}


/* GLOBAL STATES */

/* *:focus {
  outline: none;
  box-shadow: 0 0 3px 0 green;
}
 */

/* GLOBAL CLASS STYLES */

  body:not([authed]) button.login div:last-child {
    display: none !important;
  }

  body[authed] button.login div:first-child {
    display: none !important;
  }

  body:not([authed]) button.logout {
    display: none !important;
  }

  body:not([authed]) #my_outings {
    display: none;
  }

  .middle-blocks {
    text-align: center;
  }

  .middle-blocks > * {
    display: inline-block;
    position: relative;
    top: 50%;
    vertical-align: top;
    transform: translateY(-50%);
  }

  [flex] {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  [flex~="row"] {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  [flex-fill] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }


/*   .tap-fx {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0.6;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #fff;
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.55s;
    -moz-transition: -moz-transform 0.5s ease, opacity 0.55s;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.55s;
    transition: transform 0.5s ease, opacity 0.55s;
  }

  .tap-fx[show] {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(4);
    -moz-transform: translate(-50%, -50%) scale(4);
    -ms-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4);
  } */

  .content-block {
    padding: 0.6em 0.5em;
    background: #fff;
    border: 1px solid;
    border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.3) rgba(0,0,0,0.4);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  }

  .point-block h2, .point-listitem h2 {
    margin: 0;
    color: #007152;
  }

  .point-block h2[rating]:before {
    display: block;
    float: right;
    margin-left: 0.5em;
    color: #FFF;
    background: #00934E;
    font-size: 100%;
    font-weight: bold;
    content: attr(rating);
    padding: 0.1em 0.25em;
  }

  .point-block span, .point-listitem span {
    display: block;
    margin-bottom: 5px;
    color: #888;
    font-size: 82%;
  }

  .point-block > img {
    display: block;
    width: 100%;
    margin: 0;
  }

  .point-block .facets {
    margin-top: 8px;
  }

  .point-block textarea[name="waypoints"] {
    display: none;
  }

  .point-listitem {
    display: block;
  }

  .point-listitem:hover,.point-listitem:focus {
    outline: none;
    background: #FFFCEA !important;
  }

  .form-view {
    max-width: 340px;
    margin: 28px auto 16px;
    padding: 0px 20px;
  }

  .form-view > label, .form-view > fieldset > label {
    display: block;
    width: 100%;
    margin: 1em auto;
    font-size: 120%;
    text-shadow: 0px 1px 1px #FFF;
  }

  .form-view > label div {
    font-size: 70%;
    color: #888;
    margin-bottom: 3px;
  }

  .form-view label > input,
  .form-view label > textarea,
  .form-view > fieldset > label > input,
  .form-view > fieldset > label > textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .content-list dt {
    padding: 4px 4px 4px 6px;
    font-size: 115%;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px #00895B;
    background: #00A06B;
    border: 1px solid;
    border-color: #00BC7D #00895B #007F54 #009B67;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,0.3);
  }

  .content-list dt img {
    height: 16px;
    margin-top: -3px;
    vertical-align: middle;
  }

  .content-list dd {
    margin: 2em 0;
  }

  .thumb-grid {
    text-align: center;
  }

  .thumb-grid > * {
    display: inline-block;
    width: 7em;
    margin: 0 0.5em 1em;
  }

  .border-2, .border-shadow-2 {
    border: 8px solid #fff;
  }

  .shadow-2, .border-shadow-2 {
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.7);
  }

  .border-3, .border-shadow-3, .thumb-grid > * {
    border: 3px solid #fff;
  }

  .shadow-3, .border-shadow-3, .thumb-grid > * {
    box-shadow: 0 1px 1px -1px rgba(0,0,0, 0.4);
  }

  .result-list {
    padding: 1.3em 1.2em;
    max-width: 1400px;
    margin: 0px auto;
  }

  .result-list > li {
    display: inline-block;
    max-width: 360px;
    margin: 0 auto;
    vertical-align: middle;
  }

  .result-list > li > div {
    margin: 1.3em 1.2em;
    cursor: pointer;
  }

  .result-list .facets li {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    color: #007152;
  }

  .result-list .facets li:before {
    content: " ";
    display: block;
    width: auto;
    height: 30px;
  }

  .x-rating-block {
    font-size: 150%;
  }

  .x-rating-block:before {
    content: attr(rating);
    min-width: 2.5em;
    font-weight: bold;
    background: #00934E;
    color: #fff;
  }

  .x-rating-block .x-rating-item {
    background-size: 75%;
  }

  .x-rating-block .x-rating-full-layer {
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), #FFEA9E);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #FFEA9E);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFEA9E);
  }

  .favorite-indicator svg {
    fill: transparent;
  }

  .favorite-indicator[favorited] svg {
    fill: indianred;
  }

/* GLOBAL & CUSTOM ELEMENT STYLES */

x-notify {
  font-size: 140%;
  font-weight: bold;
  padding: 0.7em 2.5em 0.7em 0.6em;
}

#global_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  background: #fff;
  overflow: hidden;
  box-shadow: 1px 0 3px -1px rgba(0,0,0,0.6);
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

  #global_menu .logo {
    height: 3.5em;
    margin-right: -1px;
    padding: 0 3px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #00934E;
    border-right: 1px solid rgb(0, 109, 78);
    border-bottom: 1px solid rgb(0, 109, 78);
    box-shadow: 0px 1px 2px -1px rgba(5, 57, 33, 0.75);
  }
    #global_menu .logo > img {
      width: auto;
      height: 1.5em;
      margin-right: -0.2em;
    }

    #global_menu .logo span {
      font-size: 150%;
    }

  #global_menu button {
    display: block;
    width: 100%;
    padding: 1em 0 0.6em;
    font-size: 84%;
    border: none;
    color: #888;
    background: none;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }

  #global_menu button svg {
    margin-bottom: 3px;
  }

  #global_menu {
    fill: #00934E;
  }

#global_menu_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3.5em;
}

  #global_menu_button > svg {
    position: absolute;
    width: 1em;
    height: 100%;
    font-size: 3.55em;
    margin-left: -50%;
    fill: #fff;
  }

#global_menu_button img {
  width: 100%;
  margin: 0 auto;
}

#global_menu_button x-flipbox {
  width: 2em;
  height: 2em;
  margin: 0.75em 0 0 0.5em;
}

#global_menu_button x-flipbox div {
  border-radius: 100px;
  background: #fff;
  box-shadow: 0 1px 0px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

#global_menu_button x-flipbox div:last-child {
  fill: red;
}

#global_menu_button x-flipbox div:last-child svg {
  width: 100%;
  margin: 25% auto;
  font-size: 1em;
}


#views {
  width: auto;
  margin-left: 120px;
  z-index: 0;
}

#views x-layout, x-modal x-layout, x-tabbox > ul {
  background: url(../images/card-bk.png);
}

#views x-layout > header, x-modal x-layout > header {
  color: #fff;
  background-color: #00934E;
  border-bottom: 1px solid #006D4E;
  box-shadow: 0px 1px 2px -1px rgba(5, 57, 33, 0.75);
}

/*** OUTING BLOCKS ***/

.outing-block span {
  display: inline-block;
}

.outing-featured-image {
  width: 100%;
}

/*** SEARCH/BROWSE VIEW ***/

  #search_view header {
    position: relative;
  }

  #search_view x-appbar h1 div {
    display: table;
    width: 100%;
    height: 100%;
  }

  #search_view x-appbar h1 span {
    display: table-cell;
    width: 0%;
    vertical-align: middle;
  }

  #search_view x-appbar h1 span:last-child {
    width: 100%;
  }

  #search_view x-appbar h1 img {
    display: block;
    width: auto;
    height: 2ex;
    padding-right: 1px;
  }

  #search_view_input input {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #search_view .empty-view-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/tasting-room.jpg) center center;
    background-size: cover;
  }

  #search_view_list:empty + .empty-view-cover {
    display: block;
  }

  #search_view .empty-view-cover > div {
    position: relative;
    top: 42%;
    transform: translateY(-50%);
  }

  #search_view .empty-view-cover h1 {
    margin: 0px 0px 0.4em;
    font-size: 400%;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,0.8);
  }

  #search_view .empty-view-cover label {
    display: block;
    padding: 6em 0;
    background: rgba(0,0,0, 0.4);
  }

  #search_view .empty-view-cover x-input {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    font-size: 150%;
  }

  #search_view_list {
    position: relative;
  }

  [facet="cost"]:before {
    background: url("../icons/dollar-black.svg") no-repeat scroll center center / auto 77% transparent;
  }

  [facet="food"]:before {
    background: url("../icons/food-black.svg") no-repeat scroll center center / auto 75% transparent;
  }

  [facet="exercise"]:before {
    background: url("../icons/walk-black.svg") no-repeat scroll center center / auto 84% transparent;
  }

/*** DETAIL VIEW ***/

  #detail_view section {
    position: relative;
    overflow: hidden;
  }

  #detail_view_map {
    position: absolute;
    top: 0;
    left: 0;
    width: 134%;
    height: 100%;
    background: #F1EFE9;
    z-index: 1;
  }

  #detail_view_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; /* DO NOT ERASE THIS, CAUSES DETAIL INFO TO BECOME UNSCROLLABLE */
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0px 3px -2px rgba(0, 0, 0, 0.175);
    z-index: 2;
    -webkit-transition: -webkit-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
  }

  #detail_view_toggle[data-open] + #detail_view_content {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  #detail_view_toggle:hover {
    opacity: 1;
  }

  #detail_view_content > .hidden-scroll {
    height: 100%;
  }

  #detail_view_info {
    margin: 20px 16px 4px;
  }

  #detail_view_info dt {
    margin: 0 -10px 20px;
    padding: 4px 4px 4px 6px;
    font-size: 115%;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px #00895B;
    background: #00A06B;
    border: 1px solid;
    border-color: #00BC7D #00895B #007F54 #009B67;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,0.3);
  }

  #detail_view_info dt img {
    height: 16px;
    margin-top: -3px;
    vertical-align: middle;
  }

  #detail_view_info dd {
    max-width: 230px;
    margin: 0px auto 30px;
    padding: 8px 9px 9px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    border-top-color: rgba(0,0,0,0.3);
    border-bottom-color: rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  #detail_view_ratings menu {
    margin: 8px -10px -9px;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #ccc;
  }

  #detail_view_ratings menu x-action {
    float: left;
    width: 50%;
    padding: 10px 6px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  #detail_view_ratings x-action[event="show-outing-reviews"] {
    border-right: 1px solid #ddd;
  }

  #detail_view_ratings x-action[event="show-outing-reviews"]:before {
    content: "No Reviews";
    font-style: italic;
    color: #aaa;
  }

  #detail_view_ratings x-action[reviewed]:before {
    content: "Read Reviews";
    font-style: inherit;
    color: inherit;
  }

  #detail_view_ratings x-rating {
    width: 100%;
  }

  #detail_view_points {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
  }

  #detail_view_points ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #detail_view_points .point {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  #detail_view_points .point-block {
    cursor: pointer;
  }

  #detail_view_points .point-travel {
    position: relative;
    margin: 4px auto;
    text-align: center;
    cursor: pointer;
  }

  .point-travel:not(:empty):before, #detail_view_points .point-travel:not(:empty):after {
    content: " ";
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: block;
    width: 0px;
    height: 30px;
    margin: 22px 0px 22px -3px;
    border-left: 6px dotted rgba(0,0,0,0.35);
  }

  .point-travel:not(:empty):after {
    top: 50%;
    bottom: auto;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .point-travel > span {
    display: inline-block;
    margin: 40px auto;
    padding: 5px 10px;
    font-size: 85%;
    color: #fff;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    white-space: nowrap;
  }

  #transportation_modal section > :only-child {
    position: relative;
  }

  #transportation_modal li {
    width: 33.33%;
    padding: 20px;
    text-align: center;
  }

  /* MAP ELEMENTS */

  .gm-style-iw * {
    overflow: visible !important;
  }

  .detail-point-infowindow {
    padding-bottom: 8px;
    margin-right: -23px;
    cursor: pointer;
  }

  .detail-point-infowindow h3 {
    margin: 0 23px 3px 0;
    color: #007152;
  }
  .detail-point-infowindow span {
    display: block;
    margin-bottom: 7px;
    color: #888;
    font-size: 82%;
  }

  .detail-point-infowindow img {
    display: block;
    width: 100%;
    height: auto;
  }

/*** POINT VIEW ***/

.cover-banner {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#point_cover {
  position: absolute;
  height: 14em;
}

#point_cover:not([style]) {
  background-repeat: repeat;
  background-image: url(../images/city-map.svg);
}

#point_content, #point_cover > div {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#point_cover > div {
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#point_cover > div > * {
  display: table-cell;
}

#point_content_wrap {
  position: relative;
  max-height: 100%;
  overflow: auto;
}

#point_content_wrap > div {
  height: 100%;
  margin-top: 13.5em;
  background: url(../images/card-bk.png);
  border-top: 1px solid #fff;
}

#point_content {
  margin: 0 auto;
  overflow: visible;
}

.point-left {
  width: 300px;
  margin-bottom: 24px;
}

.point-pic {
  height: 220px;
  margin-top: -140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.point-pic:not([style]) {
  background-image: url(../images/mystery-spot.png);
}

.point-contact {
  font-weight: bold;
  color: #555;
}

.point-contact > * {
  display: block;
  padding: 12px 12px 12px 50px;
  background: no-repeat 10px center;
  background-size: 30px;
  border-top: 1px solid rgba(255,255,255, 0.7);
  border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.point-contact > *:first-child {
  border-top: none;
}

.point-contact > *:last-child {
  border-bottom: none;
}

.point-contact address {
  font-style: normal;
  background-image: url(../icons/location-red.svg);
}

.point-contact .tel {
  background-size: 24px;
  background-position: 12px center;
  background-image: url(../icons/phone-black.svg);
}


.point-right {
  padding: 20px 0 20px 25px;
  vertical-align: top;
}

x-review {
  display: block;
  margin: 0 0.5em 2em;
  background: #f9f9f9;
}

  x-review header {
    display: table;
    margin: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 1px 1px 0px rgba(0,0,0, 0.2);
  }

  x-review header > * {
    display: table-cell;
    padding: 0.1em;
    vertical-align: middle;
  }

  x-review header > svg {
    width: 1em;
    font-size: 3.25em;
  }

  x-review .x-review-rating {
    width: 100%;
  }

  x-review h4 {
    font-size: 110%;
    margin: 0 0 0.2em;
  }

  x-review x-rating {
    width: 7em;
  }

  x-review .x-review-time {
    padding: 0 0.75em;
    white-space: nowrap;
    color: #999;
    font-size: 85%;
  }

  x-review .x-review-time svg {
    display: block;
    width: 0.5em;
    height: 0.7em;
    margin: 0px auto;
    fill: #aaa;
  }

  x-review p {
    margin: 0;
    padding: 0.8em 0.85em;
  }


/*** CREATE VIEW ***/

  #create_view {
    overflow: hidden;
  }

  #create_view form figure > [type="radio"] {
    display: inline;
    text-align: center;
  }

  #create_view textarea[name="description"] {
    min-height: 150px;
  }

  #outing_food {
    font-size: 85%;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    border: 1px solid;
    border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.2) rgba(0,0,0,0.3);
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  #outing_food x-toggle {
    width: 100%;
    padding: 14px 0px 10px;
  }

  #outing_food .x-toggle-check {
    display: block;
    margin: 0 auto 6px;
  }

  #outing_points {
    position: relative;
    margin: 20px 0 0;
  }

  #outing_points fieldset {

  }

  #outing_points .point-block {
    position: relative;
    margin: 0 50px 30px 0;
  }

    #outing_points .point-block:first-child .add-point-controls [data-control="point-up"] {
      display: none;
    }

    #outing_points .point-block:last-child .add-point-controls [data-control="point-down"] {
      display: none;
    }

    #outing_points .add-point-controls {
      position: absolute;
      top: 0;
      left: 100%;
      width: 50px;
    }

    #outing_points .add-point-controls button {
      margin: 0 0 8px 10px;
      padding: 10px 0;
      background: rgba(0,0,0,0.2);
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    #outing_points .add-point-controls button:hover {
      background: rgba(0,0,0,0.3);
    }

  #outing_point_add {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0 0 40px;
    font-size: 400%;
    text-align: center;
    cursor: pointer;
  }

  #outing_point_add:before, #outing_point_add:after {
    content: "+";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 80px;
    border-radius: 6px;
    border: 5px dashed;
    color: rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #outing_point_add:before {
    top: 2px;
    color: rgba(255,255,255,0.4);
  }

  #outing_point_add:hover:after {
    color: rgba(70,130,112,0.8);
  }

  #point_selector {
    width: 90%;
    height: 70%;
    max-width: 430px;
    max-height: 500px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -ms-transition: -ms-transform 0.3s ease;
    transition: transform 0.3s ease;
  }

  #point_selector[open] {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  #point_selector section {
    background: #f0f0f0;
  }

  #point_selector x-appbar h2 {
    padding: 7px;
  }

  #point_selector section > ul {
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }

  #point_selector .point-listitem {
    position: relative;
    height: auto;
    padding: 10px 12px 8px;
    background: #fff;
    border-top: 1px solid #ccc;
    cursor: pointer;
  }

    #point_selector .point-listitem:first-child {
      border: none;
    }

  #point_selector section > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #point_selector:not([request-status]) section > div:before {
    content: "Search for places to add to your outing.";
  }

  #point_selector[request-status="fetch"] section > div:before {
    content: "Wait here, we're on the hunt!";
  }

  #point_selector[request-status="success"] section > ul {
    opacity: 1;
  }

  #point_selector[request-status="error"] section > div:before {
    content: "Houston, we have a problem :(";
  }

#create_view input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.6em;
}

/*** MY OUTINGS VIEW ***/

  #outings_view x-tabbox > menu {
    position: relative;
    z-index: 2;
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.5);
  }

  /*FIX FOR CHROME: Investigate adding these height 100% styles to X-TABBOX itself*/

  #outings_view x-tabbox > ul, #outings_view x-tabbox ul li[panel] {
    height: 100%;
  }

  #outings_view x-tabbox ul li > x-spinner:not([spinning]) {
    z-index: -1;
  }


/*** MODALS ***/

/* Login */

  #login_modal {
    height: auto;
    max-width: 345px;
  }

  #login_modal_enter + span {
    padding: 0 0.7em;
    color: rgba(0,0,0,0.5);
  }

  label[for="login_modal_new"] {
    display: inline-block;
    width: auto;
    font-weight: bold;
    cursor: pointer;
  }

  #login_modal_new ~ #signup_panel {
    display: none;
  }

  /* #login_modal_new:checked + input {
    display: none;
  }
   */
  #login_modal_new:checked ~ #signup_panel {
    display: block;
  }

  #login_modal label[for="signup"] {
    display: inline;
  }

  #login_modal_create {
    margin: 1em 0;
  }

  #login_modal form > x-spinner {

  }

/* Location Select */

  #location_selector {
    height: 90%;
    max-height: 500px;
  }

  #location_selector x-input {
    position: absolute;
    top: 0.5em;
    left: 0.5em;

  }

  #location_selector x-gmap:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    border-radius: 3em;

  }

  /*#location_selector x-tabbox {
    height: 100%;
  }*/

  #location_selector [src="icons/target.svg#location_selector_marker"] svg {
    fill: green;
  }

  #location_selector x-gmap {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  #location_selector .x-gmap-custom-marker img {
    border-radius: inherit;
    box-shadow: 0 0.05em 0.1em 0.05em rgba(0,0,0,0.5);
  }

  #location_selector .x-gmap-custom-marker div {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border: 0.18em solid #00934E;
    box-sizing: border-box;
    -webkit-animation: x-gmap-marker-pulse 4s infinite;
    -ms-animation: x-gmap-marker-pulse 4s infinite;
    animation: x-gmap-marker-pulse 4s infinite;
  }

/* REVIEWS MODAL */

#outing_reviews_modal {

}

#outing_reviews_modal x-review {
  margin: 1.5em 1.25em;
}

#outing_reviews_modal x-review:only-child {
  position: relative;
  width: auto;
  height: auto;
}

/* RATING MODAL */

.review-modal {
  max-width: 400px;
  min-height: 20em;
  max-height: 400px;
}

.review-modal section {
  padding: 1em;
}

.review-modal x-rating {
  margin: 0 auto 1em;
  background: #FFF;
  box-shadow: 0 -1px 1px -1px rgba(0,0,0,0.65);
}

.review-modal textarea {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
}

.review-modal textarea {
  height: 100%;
}

#new_outing_review_modal x-rating {
  width: 70%;
}

#new_outing_review_modal .x-rating-item {
  background-size: 75%;
}

/*** Media Queries ***/

  @media all and (max-width: 470px) {

    body {
      font-size: 80%;
    }

    #global_menu {
      width: 200px;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    body[global-menu-open] #global_menu {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }

    #views {
      margin-left: 0;
    }

    #views x-appbar {
      padding-left: 3em;
    }

    #search_view .empty-view-cover label {
      padding: 4em 0;
    }

    #search_view .empty-view-cover h1 {
      font-size: 300%;
    }

  }

  @media all and (min-width: 470px) {

    #global_menu_button {
      display: none;
    }

  }

  @media all and (min-width: 350px) and (max-width: 470px) {

    #views x-appbar button img {
      height: 24px;
    }

  }

  @media all and (max-width: 600px) {

    #detail_view_map:empty {
      background: url(../images/city-map.svg) repeat top left;
      background-size: 350px 350px;
    }

    #detail_view_content {
      width: 100%;
      max-width: 100%;
      background: -webkit-linear-gradient(rgba(215, 215, 215, 0), rgba(215, 215, 215, 0.85) 8%, rgba(215, 215, 215, 0.95));
      background: -ms-linear-gradient(rgba(200, 200, 200, 0), rgba(215, 215, 215, 0.85) 8%, rgba(215, 215, 215, 0.95));
      background: linear-gradient(rgba(215, 215, 215, 0), rgba(215, 215, 215, 0.85) 8%, rgba(215, 215, 215, 0.95));
    }

    #detail_view_info {
      margin: 24px 24px 4px;
    }

    .result-list > li {
      display: block;
    }

  }

  @media all and (min-width: 600px) {
    #detail_view_toggle[data-open] + #detail_view_content {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    .result-list > li {
      width: 50%;
    }
  }

  @media all and (min-width: 471px) and (max-width: 700px) {
    body {
      font-size: 80%;
    }

    #views x-appbar button img {
      height: 26px;
    }

  }

  @media all and (min-width: 701px) and (max-width: 1100px) {

    body {
      font-size: 80%;
    }

    #views x-appbar button img {
      height: 28px;
    }

    .result-list > li {
      width: 33.33%;
    }

  }

  @media all and (max-width: 800px){

      #point_content {
        max-width: 460px;
      }

      #point_content, .point-left, .point-right {
        display: block;
      }

      .point-left {
        width: auto;
      }

      .point-right {
        padding: 0;
      }
  }

  @media all and (min-width: 1101px) {

    body {
      font-size: 85%;
    }

    .result-list > li {
      width: 25%;
    }
  }
