

/* TEMPLATE STYLES */

  #global_menu_toggle svg {
    fill: #fff;
  }

/* END OF TEMPLATE STYLES */


body {
  background: #20252B;
  font-family: 'Telex', sans-serif;
}

a {
  color: #61A5E4;
}

h3 {
  color: #8CB2D6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  margin: 2.5em auto 2em;
  border-color: #000 transparent #555;
  border-radius: 100%;
  opacity: 0.2;
}

p code {
  padding: 0.2em 0.35em 0.15em;
  color: #fff;
  border-radius: 0.2em;
  background: rgba(0,0,0,0.15);
}

x-code-prism {
  font-size: 0.85em;
}

x-appbar > * svg {
  fill: #fff;
}

x-card > x-layout > section > * {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

x-card > x-layout > section {
  padding: 1em 1.5em 0;
}

x-card > x-layout > section p {
  font-size: 0.9em;
  color: #ccc;
  line-height: 1.5em;
}

x-card > x-layout > section x-action {
  color: #94C7AE;
  cursor: pointer;
}

x-card > x-layout > section > *:last-child {
  margin-bottom: 2em;
}


x-card > x-layout x-appbar > svg:first-child {
  margin: 0 0.1em 0 0.6em;
  color: #61A5E4;
  font-size: 1.4em;
}

/* CLASSES & ATTRIBUTES */

[text-shadow], h1, h2, h3  {
  text-shadow: 0 3px 0.1em rgba(0,0,0,0.4);
}

/* TARGETED ELEMENTS */

#ht {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
}

#ht:after {
  content: '®';
  display: inline-block;
  margin: 0.2em 0 0 -0.2em;
  font-size: 0.5em;
  vertical-align: top;
}

#ht svg {
  display: block;
  font-size: 2em;
  margin-bottom: 0.3em;
}

#global_menu {
  color: rgba(255,255,255, 0.75);
  background: #222931;
  box-shadow: 2px 0 5px 0px rgba(0,0,0,0.5);
}

#global_menu menu > * {
  text-shadow: 0 -1px 0px rgba(0,0,0,0.7);
  border-top: 1px solid rgba(255,255,255, 0.1);
}

#global_menu menu > *:hover {
  background: rgba(255,255,255, 0.03);
}

#global_menu menu > [selected] {
  color: #61A5E4;
  background: none;
  border-color: transparent;
}

#global_menu menu > [selected] svg {
  fill: currentColor;
}

#views x-card {
  color: #fff;
  background: #2D3742;
}

#global_menu x-action svg {
  padding: 0 0.15em 0.15em;
  fill: rgba(255,255,255, 0.85);
}

#menu_logo span {
  color: #528CC1;
  font-weight: bold;
  font-size: 1.4em;
  vertical-align: middle;
}

#menu_logo b {
  color: #fff;
  padding: 0 0.1em;
  font-size: 2.4em;
}

#views > x-card > x-layout > header {
  color: #fff;
  background: none;
}

#views > x-card > x-layout > x-appbar {
  color: #fff;
}

x-appbar > button {
  cursor: pointer;
}

/* VIEW CARDS */

.section-intro, .feature-row {
  text-align: center;
}

.section-intro  h1 {
  margin: 0.5em auto 0.25em;
  font-size: 3em;
}

.feature-row li {
  display: inline-block;
  width: 33.3%;
  margin: 0 auto;
  padding: 0.1em 0.2em;
  border-radius: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.feature-row li div {
  color: #ccc;
  font-size: 0.8em;
}

.feature-row svg {
  display: block;
  max-width: 100%;
  padding: 0.05em;
  font-size: 7em;
  stroke: #fff;
  stroke-width: 0.2em;
  fill: red;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.feature-row li:nth-child(1) svg {
  stroke-width: 0.095em;
}


.feature-row li:nth-child(2) svg {
  fill: rgb(94, 117, 164);
}

.feature-row li:nth-child(3) svg {
  fill: rgb(74, 147, 111);
}

#overview_demo x-clock {
  display: block;
  text-align: center;
  margin: 1em auto;
  font-size: 2em;
  font-weight: bold;
}

#build_features {
  margin-top: 2em;
}

#build_features svg {
  stroke: #FFEFC6;
  stroke-width: 0.0125em;
}

#build_features a {
  display: block;
  padding: 0.75em 0 1em;
  color: #fff;
  text-decoration: none;
}

#build_features a:hover {
  background: rgba(255,255,255,0.25);
}



/* MEDIA QUERIES */

@media all and (max-width: 570px) {
  .feature-row {
    margin: 1em auto;
  }
}

@media all and (min-width: 571px) and (max-width: 830px) {
  #ht {
    font-size: 47%;
  }
}
