
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: calc(0.85em + 0.4vmin);
  cursor: default;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

svg {
  display: inline-block;
  height: 1.1em;
  width: 1em;
  margin: 0px auto;
  fill: currentColor;
  vertical-align: middle;
}

x-appbar > a,
x-appbar > button,
x-appbar > x-action {
  color: inherit;
  font-weight: bold;
}

x-appbar > a svg,
x-appbar > button svg,
x-appbar > x-action svg {
  font-size: 1.5em;
}

x-appbar > a span,
x-appbar > button span,
x-appbar > x-action span {
  font-size: 0.85em;
  margin-left: 0.25em;
}

[unselectable] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* GENERAL CLASSES */

.shadow-low {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
}

.shadow-mid {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}

.shadow-high {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}

.content-block {
  display: inline-block;
  padding: 0.25em 0.3em 0.3em;
  border-radius: 0.2em;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Layout Elements */

#svg_source {
  display: none;
}

#views x-appbar, #global_menu_toggle, #menu_logo  {
  height: 3.25em;
  line-height: 3.25em;
}

#menu_logo {
  text-align: center;
}

#menu_logo > * {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 auto;
  vertical-align: middle;
}

#global_menu {
  width: 175px;
}

  #global_menu menu {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0, 0.2);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
  }

  #global_menu menu > * {
    display: block;
    position: relative;
    background: inherit;
    padding: 0.7em 0.5em 0.6em;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    cursor: pointer;
  }

  #global_menu menu > *:hover {
    background: rgba(0,0,0, 0.05);
  }

  #global_menu menu > *:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.25em;
    height: 100%;
    background: currentColor;
    opacity: 0;
  }

  #global_menu menu > *:hover:after {
    opacity: 0.4;
  }

  #global_menu menu > [selected] {
    background: rgba(0,0,0,0.1);
    cursor: default;
  }

  #global_menu menu > [selected]:after {
    opacity: 1;
  }

#global_menu_toggle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.75em;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
}

  #global_menu_toggle svg {
    display: inline-block;
    font-size: 1.6em;
  }

  #global_menu:not([showing]) + #global_menu_toggle svg:last-child, #global_menu[showing] + #global_menu_toggle svg:first-child {
    display: none;
  }

/* VIEW LAYOUT */

x-card > x-layout > header {
  background: #fff;
}

x-card > x-layout > header > x-appbar h2:first-child {
  padding-left: 0.5em;
}

/* MEDIA QUERIES */

@media all and (max-width: 640px) {

  #global_menu_toggle {
    display: block;
  }

  #global_menu menu > * {
    padding: 1em 0.6em 0.9em;
  }

  #views x-appbar {
    padding-left: 2.75em;
  }

  #views header > x-appbar > a span,
  #views header > x-appbar > button span,
  #views header > x-appbar > x-action span {
    display: none;
  }

  x-card > x-layout > header > x-appbar h2 {
    padding-left: 0.25em;
  }

}

@media all and (min-width: 641px) {

  #global_menu {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
  }

}

@media all and (min-width: 641px) and (max-width: 900px) {

  #global_menu {
    width: 72px;
    text-align: center;
  }

  #global_menu x-action svg {
    display: block;
    font-size: 1.5em;
  }

  #global_menu x-action span {
    display: block;
    font-size: 0.6em;
  }

  #views {
    margin-left: 72px;
  }

}

@media all and (min-width: 901px) {

  #views {
    margin-left: 175px;
  }

}
